---
// Projektlayout.astro
import Layout from "./Layout.astro";

const {
  frontmatter,
  title = frontmatter.title || "Übersicht",
  description = frontmatter.description,
} = Astro.props;

const modules = import.meta.glob("../pages/**/*.{astro,mdx}", { eager: true });

const parent = frontmatter.title;

const children = Object.values(modules)
  .map((m: any) => ({
    url: m.url,
    title: m.frontmatter?.title,
    description: m.frontmatter?.description,
    thumbnail: m.frontmatter?.thumbnail,
    parent: m.frontmatter?.parent,
    order: m.frontmatter?.order || 0,
  }))
  .filter((p) => p.parent === parent)
  .sort((a, b) => a.order - b.order);
---

<Layout frontmatter={frontmatter}>
  <h1>{title}</h1>
  <div class="subtitle">{description}</div>

  {
    children.length > 0 && (
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mt-8 mb-4 break-words">
        {children.map((child) => (
          <a
            href={child.url}
            class="block layout-box"
          >
            {child.thumbnail && (
              <img
                src={child.thumbnail}
                alt={child.title}
                class="w-full h-40 object-cover"
              />
            )}
            <h4 class="font-tg text-4xl mt-2">{child.title}</h4>
            {child.description && (
              <p class="">{child.description}</p>
            )}
          </a>
        ))}
      </div>
    )
  }

  <slot />
</Layout>

